@import "/src/styles/variables";

:export {
  //----------------------Green
  colorOrange: $colorOrange;
  colorOrange1: $colorOrange1;
  colorOrange2: $colorOrange2;
  colorOrange3: $colorOrange3;
  colorOrange4: $colorOrange4;
  colorOrange5: $colorOrange5;
  colorOrange6: $colorOrange6;
  colorOrange7: $colorOrange7;
  colorOrange8: $colorOrange8;
  colorOrange9: $colorOrange9;
  colorOrange10: $colorOrange10;
  colorOrange11: $colorOrange11;
  colorOrange12: $colorOrange12;
  colorOrange13: $colorOrange13;
  colorOrange14: $colorOrange14;
  colorOrange15: $colorOrange15;
  colorOrange16: $colorOrange16;
  colorOrange17: $colorOrange17;
  colorOrange18: $colorOrange18;
  colorOrange19: $colorOrange19;
  colorOrange20: $colorOrange20;

  //----------------------Purple
  colorPurple: $colorPurple;
  colorPurple1: $colorPurple1;
  colorPurple2: $colorPurple2;
  colorPurple3: $colorPurple3;
  colorPurple4: $colorPurple4;
  colorPurple5: $colorPurple5;
  colorPurple6: $colorPurple6;
  colorPurple7: $colorPurple7;
  colorPurple8: $colorPurple8;
  colorPurple9: $colorPurple9;
  colorPurple10: $colorPurple10;
  colorPurple11: $colorPurple11;
  colorPurple12: $colorPurple12;
  colorPurple13: $colorPurple13;
  colorPurple14: $colorPurple14;
  colorPurple15: $colorPurple15;
  colorPurple16: $colorPurple16;
  colorPurple17: $colorPurple17;
  colorPurple18: $colorPurple18;
  colorPurple19: $colorPurple19;
  colorPurple20: $colorPurple20;

  //----------------------Dark
  colorDark1: $colorDark1;
  colorDark2: $colorDark2;
  colorDark3: $colorDark3;
  colorDark4: $colorDark4;
  colorDark5: $colorDark5;
  colorDark6: $colorDark6;
  colorDark7: $colorDark7;
  // ---Default
  colorDark: $colorDark;

  //----------------------Light
  colorLight1: $colorLight1;
  colorLight2: $colorLight2;
  colorLight3: $colorLight3;
  colorLight4: $colorLight4;
  colorLight5: $colorLight5;
  colorLight6: $colorLight6;
  colorLight7: $colorLight7;
  // ---Default
  colorLight: $colorLight;
}
