@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.DefensaFiscal {
  font-family: "Inter";
  p {
    font-size: 18px;
    line-height: 25px;
    margin: 0px auto 0px auto;
  }

  .firstP {
    margin-top: -90px;
  }

  .postImg {
    margin: 20px auto;
    @include onlyIn(mob) {
      width: 90%;
    }
    @include onlyIn(desk) {
      width: 76%;
      max-width: 800px;
    }
    img {
      display: block;
      height: auto;
      margin: 0px auto;
      border-radius: 15px;
      width: 100%;
    }
  }

  h2 {
    margin: 30px auto 0px auto;
    @include onlyIn(mob) {
      width: 90%;
    }
    @include onlyIn(dek) {
      width: 65%;
      max-width: 800px;
    }
  }
  h5 {
    font-weight: 600;
    font-size: large;
  }
  li {
    margin: 30px auto 0px auto;
    @include onlyIn(mob) {
      width: 90%;
    }
    @include onlyIn(dek) {
      width: 65%;
      max-width: 800px;
    }
  }
  li p {
    width: 100%;
    margin: 0;
  }
  a {
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &-desktop {
    code {
      width: 65%;
      max-width: 800px;
    }
  }
  &-mobile {
    code {
      width: 90%;
    }
  }
  code {
    padding: 12px;
    border-radius: 5px;
    display: block;
    background-color: $colorPurple;
    color: $colorDark5;
    font-size: 14px;
    line-height: 25px;
    margin: 15px auto 0px auto;
    span {
      filter: drop-shadow(1px 1px 15px rgb(0, 0, 0));
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 15px auto 0px auto;
    @include onlyIn(mob) {
      width: 90%;
    }
    @include onlyIn(dek) {
      width: 65%;
      max-width: 800px;
    }
  }
  .blogCont {
    background-color: #0e0c0d79;
    width: 85%;
    margin: 0 auto;

    padding: 25px 20px;
  }
}
