$sb-animate-bounce-height: 60px;
$sb-animate-bounce-rebound: 1.2;

@keyframes sb-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  20% {
    opacity: 0;
    transform: translateX(-100%);
  }
  21% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sb-bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY($sb-animate-bounce-height);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY($sb-animate-bounce-rebound);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes sb-wobble {
  0% {
    transform: none;
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    transform: none;
  }
}

@keyframes sb-rock {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%); // Inicia fuera de la vista a la derecha
    opacity: 0;
  }
  to {
    transform: translateX(0); // Finaliza en su posición original
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(50%); // Inicia fuera de la vista a la derecha
    opacity: 0;
  }
  to {
    transform: translateX(0); // Finaliza en su posición original
    opacity: 1;
  }
}
