//----------------------Main Colors------------------
//----------------------Green
$colorOrange: #f47e20;
$colorOrange1: mix($colorOrange, white, 10%);
$colorOrange2: mix($colorOrange, white, 20%);
$colorOrange3: mix($colorOrange, white, 30%);
$colorOrange4: mix($colorOrange, white, 40%);
$colorOrange5: mix($colorOrange, white, 50%);
$colorOrange6: mix($colorOrange, white, 60%);
$colorOrange7: mix($colorOrange, white, 70%);
$colorOrange8: mix($colorOrange, white, 80%);
$colorOrange9: mix($colorOrange, white, 90%);
$colorOrange10: mix($colorOrange, white, 100%); // color base
$colorOrange11: mix($colorOrange, black, 90%);
$colorOrange12: mix($colorOrange, black, 80%);
$colorOrange13: mix($colorOrange, black, 70%);
$colorOrange14: mix($colorOrange, black, 60%);
$colorOrange15: mix($colorOrange, black, 50%);
$colorOrange16: mix($colorOrange, black, 40%);
$colorOrange17: mix($colorOrange, black, 30%);
$colorOrange18: mix($colorOrange, black, 20%);
$colorOrange19: mix($colorOrange, black, 10%);
$colorOrange20: mix($colorOrange, black, 0%);

//----------------------Purple
$colorPurple: #8824fa;
$colorPurple1: mix($colorPurple, white, 10%);
$colorPurple2: mix($colorPurple, white, 20%);
$colorPurple3: mix($colorPurple, white, 30%);
$colorPurple4: mix($colorPurple, white, 40%);
$colorPurple5: mix($colorPurple, white, 50%);
$colorPurple6: mix($colorPurple, white, 60%);
$colorPurple7: mix($colorPurple, white, 70%);
$colorPurple8: mix($colorPurple, white, 80%);
$colorPurple9: mix($colorPurple, white, 90%);
$colorPurple10: mix($colorPurple, white, 100%); // color base
$colorPurple11: mix($colorPurple, black, 90%);
$colorPurple12: mix($colorPurple, black, 80%);
$colorPurple13: mix($colorPurple, black, 70%);
$colorPurple14: mix($colorPurple, black, 60%);
$colorPurple15: mix($colorPurple, black, 50%);
$colorPurple16: mix($colorPurple, black, 40%);
$colorPurple17: mix($colorPurple, black, 30%);
$colorPurple18: mix($colorPurple, black, 20%);
$colorPurple19: mix($colorPurple, black, 10%);
$colorPurple20: mix($colorPurple, black, 0%);

//----------------------Dark
$colorDark1: #717171;
$colorDark2: #5e5e5e;
$colorDark3: #555555;
$colorDark4: #474747;
$colorDark5: #303030;
$colorDark6: #1d1d1d;
$colorDark7: #000000;
// ---Default
$colorDark: $colorDark5;

//----------------------Light
$colorLight1: #ffffff;
$colorLight2: #e9e9e9;
$colorLight3: #dbdbdb;
$colorLight4: #cacaca;
$colorLight5: #bababa;
$colorLight6: #b0b0b0;
$colorLight7: #a5a5a5;
// ---Default
$colorLight: $colorLight1;

//----------------------Specials------------------
$colorSuccess: #3ab415;
$colorWarning: #f1df17;
$colorError: #ff4d4f;

//----------------------Sizes------------------
$headerHeight: 64px;
$headerHeightMobile: 124px;
$footerHeight: 440px;
$footerHeightMobile: 560px;
