@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.BlogHeader {
  font-family: "Inter";
  width: 88%;
  margin: 0px 6%;
  position: relative;
  top: -8px;
  h1 {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: $colorOrange3;
    max-width: 700px;
    margin: auto;

    // // desk mob xs sm md lg xl xxl
    // @include onlyIn(desk) {
    //   background-image: url(/images/background-blog.svg);
    //   background-position: 0 -150px;
    //   background-size: 100% 500px;
    //   background-repeat: no-repeat;
    //   padding-top: 100px;
    //   padding-bottom: 250px;
    // }
    // @include onlyIn(mob) {
    //   background-image: url(/images/background-blog.svg);
    //   background-position: 50% -190px;
    //   background-size: auto 80vh;
    //   background-repeat: no-repeat;

    //   padding-top: 100px;
    //   padding-bottom: 250px;
    // }
  }
}
