@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.BlogStyles {
  font-family: "Inter";
  hr {
    margin: 0;
    padding: 0;
    border: 1px solid $colorOrange;
    width: 88%;
    margin: 15px auto 0 auto;
  }
  a {
    color: $colorOrange8;
  }
  p {
    font-size: 18px;
    line-height: 25px;
    margin: 0px auto 0px auto;
    text-align: justify;
  }

  .firstP {
    margin-top: -90px;
  }

  img {
    margin: 20px auto;
    display: block;
    height: auto;
    margin: 0px auto;
    border-radius: 15px;
    width: 100%;
    @include onlyIn(mob) {
      width: 90%;
    }
    @include onlyIn(desk) {
      width: 76%;
      max-width: 800px;
    }
  }

  h2 {
    margin: 30px auto 0px auto;
    @include onlyIn(mob) {
      width: 90%;
    }
    @include onlyIn(dek) {
      width: 65%;
      max-width: 800px;
    }
  }
  h5 {
    font-weight: 600;
    font-size: large;
  }
  li {
    margin: 30px auto 0px auto;
    @include onlyIn(mob) {
      width: 90%;
    }
    @include onlyIn(dek) {
      width: 65%;
      max-width: 800px;
    }
  }
  li p {
    width: 100%;
    margin: 0;
  }
  a {
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &-desktop {
    code {
      width: 65%;
      max-width: 800px;
    }
  }
  &-mobile {
    code {
      width: 90%;
    }
  }
  code {
    padding: 12px;
    border-radius: 5px;
    display: block;
    background-color: $colorPurple;
    color: $colorDark5;
    font-size: 14px;
    line-height: 25px;
    margin: 15px auto 0px auto;
    span {
      filter: drop-shadow(1px 1px 15px rgb(0, 0, 0));
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $colorOrange;
    margin: 15px auto 0px auto;
    width: 90%;
    @include onlyIn(desk) {
      max-width: 850px;
    }
  }
  .blogCont {
    background-color: #6969699d;
    @include onlyIn(mob) {
      width: 83%;
      margin: 0px auto 10px auto;
      padding: 15px;
    }
    @include onlyIn(desk) {
      width: 70%;
      max-width: 850px;
      margin: 0px auto 10px auto;
      padding: 20px;
    }
  }
}
