@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.Footer {
  // ajusta la altura de $footerHeight
  font-family: "Inter";
  background-color: #6969699d;
  width: 100%;
  a {
    text-decoration: none;
  }

  h4 {
    padding-top: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-weight: 400;
    font-size: 23px;
    color: $colorOrange;
  }
  h5 {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: $colorOrange;
  }
  h6 {
    text-align: center;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    a {
      color: $colorOrange;
    }
  }

  @include onlyIn(desk) {
    height: $footerHeight;
  }
  @include onlyIn(mob) {
    height: $footerHeightMobile;
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
